.add-left-margin {
    margin-top: 0;
    margin-left: 30px;
}

div.edit-container {
    visibility: hidden;
    display: flex;
}

img.thumbnail {
    display: inline;
    width: 100px;
    height: 100px;
    transition: all .2s ease-in-out;
    border-style: solid;
    border-width: 2px;
    margin: 2px;
    border-color: black;
}

img.thumbnail:hover {
    border-color: yellow;
}

div.photo-container {
    display: flex; 
    flex-wrap: wrap; 
    align-content: flex-start;
    margin-left: 30px;
    min-height: 104px;
}

.button {
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 8px;
    font-size: 12px;
    margin-left: 4px;
}

.error-message {
    color: #229FD6;
}

div.add-photo-container {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px
}

input[type="file"] {
    display: none;
}

label.files-label {
    cursor: inherit;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: normal;
}

.file-input-label {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
  color: #ffffff;
  background-color: #424242;
  border-color: #424242;
}

fieldset.fil:hover:not([disabled])  {
  color: #ffffff;
  background-color: #282828;
  border-color: #232323;
}

fieldset.disabled, fieldset[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: .65;
}

.button-icon {
    width: 16px; 
    height: 16px; 
    position: relative; 
    background-color: rgba(0,0,0,0.5)
}

.button-icon:hover {
   transform: scale(1.2);
}

.button-icon-container {
    display: inline-block;
    vertical-align: top;
}

.buttons-container {
    position: absolute;
    display: inline-block;
    top: 8px;
    right: 8px;
}

.shift {
    left: 8px;
    font-size: 10px;
}