@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"].</h3>
<h5>@ViewData["Message"]</h5>

<address>
    <span>Written by: </span>
    <a href="mailto:carlosharveyperez@gmail.com">Carlos H. Perez</a><br />
</address>
