<div class="parentDiv">

    <div class="images-container" >
        <div class="image-item">
            <img src="images\homeimages\photos.png" />
            
            <div class="caption">
                <span> Photo Albums </span>
            </div>
            
            <a routerLink="/PhotoAlbums">
                <span class="link-spanner"></span>
            </a>
            
        </div>

        <div class="image-item" >
            <img src="images\homeimages\youtube.png" />

            <div class="caption">
                <span> Tubes </span>
            </div>

            <a routerLink="/Tubes">
                <span class="link-spanner"></span>
            </a>

        </div>

        <div class="image-item" >
            <img src="images\homeimages\puzzle.png" />

            <div class="caption">
                <span> Puzzle 15 </span>
            </div>

            <a routerLink="/Puzzle">
                <span class="link-spanner"></span>
            </a>

          </div>
    </div>

</div>

